{% block test %}
    <!DOCTYPE html>
<html>
    <title> delete </title>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/symfo.css" >
    </head>
    <body> 
    <div id="alerte">
        <div id="alerte_haut">
             <p id="gros_titre_alerte2">Attention </p>
             <p id="moyen_titre_alerte2">Voulez-vous confirmer la suppresion de ce projet ?</p> 
             <p id="petit_titre_alerte2"> cette action est irréversible, toute les données relatives à se projet seront supprimées, et tout les membres / entreprise liés à ce projet seront classés dans la catégorie "sans projets".</p> 
        </div>
        <div id="alerte_bas">
            <div id="alerte_enregistrer">
            <svg class="svg_alerte" viewBox="0 0 475.2 475.2" style="enable-background:new 0 0 475.2 475.2;" xml:space="preserve" width="512px" height="512px">
<g>
  <g>
    <path d="M405.6,69.6C360.7,24.7,301.1,0,237.6,0s-123.1,24.7-168,69.6S0,174.1,0,237.6s24.7,123.1,69.6,168s104.5,69.6,168,69.6    s123.1-24.7,168-69.6s69.6-104.5,69.6-168S450.5,114.5,405.6,69.6z M386.5,386.5c-39.8,39.8-92.7,61.7-148.9,61.7    s-109.1-21.9-148.9-61.7c-82.1-82.1-82.1-215.7,0-297.8C128.5,48.9,181.4,27,237.6,27s109.1,21.9,148.9,61.7    C468.6,170.8,468.6,304.4,386.5,386.5z" fill="#ec4363"/>
    <path d="M342.3,132.9c-5.3-5.3-13.8-5.3-19.1,0l-85.6,85.6L152,132.9c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1    l85.6,85.6l-85.6,85.6c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.6-85.6l85.6,85.6c2.6,2.6,6.1,4,9.5,4    c3.5,0,6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1l-85.4-85.6l85.6-85.6C347.6,146.7,347.6,138.2,342.3,132.9z" fill="#ec4363"/>

</svg>

            <p id="supprimer_alerte">supprimer projet
            </p>
            </div>
                <div id="annuler">
                    <svg class="svg_alerte"  viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
  <g>
    <g>
      <path d="m64.5,122.6c32,0 58.1-26 58.1-58.1s-26-58-58.1-58-58,26-58,58 26,58.1 58,58.1zm0-108c27.5,5.32907e-15 49.9,22.4 49.9,49.9s-22.4,49.9-49.9,49.9-49.9-22.4-49.9-49.9 22.4-49.9 49.9-49.9z"/>
      <path d="m70,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2 1.6-1.6 1.6-4.2 0-5.8l-23.5-23.5 23.5-23.5c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-26.4,26.4c-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9l26.4,26.4z"/>
    </g>
  </g>
</svg>
                <input id="annuler_alerte" type="button" value="Annuler">    
                </div>
        </div> 
    </div>
</body>
</html>{% endblock %}