{% block test %}
    <!DOCTYPE html>
<html>
    <title> acceuil </title>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/symfo.css" >
    </head>
    <body id="body_header"> 
        <div id="header">
            <div id="gauche_header">
                <p class="nom_page"> Projets </p>
                <p id="chemin"> Projets  > Knooker  > Modifications </p>
            </div>
            <div id="centre_header"></div>
             <div id="droite_header">
                 <img src="../image/logo_ynov2.png" title="image_ynov_ydays" alt="logo de ynov Ydays"  />
            </div>
        </div>
    </body>
</html>{% endblock %}