<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="style_top_nav.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
</head>

<body>
    <div id="top_conteneur">
        <div id="location">
            <div id="title_home">
                <h1>Menu Principal</h1>
            </div>
            <div id="arborescence">
                <h2>Menu</h2>
            </div>
        </div>
        <div id="logo">
            <img src="{{ asset('image/logo_ynov.png') }}">
        </div>
    </div>
</body>

</html>