{% block test %}
    <!DOCTYPE html>
<html>
    <title> acceuil </title>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/symfo.css" >
    </head>
    <body id="body_barre_gauche">
        <div id="barre_gauche"> 
            <div id="barre_gauche_haut"> 
                <p id="barre_gauche_bienvenue"> Bienvenue @user !</p>
            </div>
            <div id="barre_gauche_centre"> 
                <a class="lien" href="#">
                <div id="barre_gauche_centre_menu_principal"  class="barre_gauche_centre_menu_cliquable" href="#">
                    <svg  viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="barre_gauche_svg" >
                        <g>
                           <g>
                      <path d="M506.555,208.064L263.859,30.367c-4.68-3.426-11.038-3.426-15.716,0L5.445,208.064    c-5.928,4.341-7.216,12.665-2.875,18.593s12.666,7.214,18.593,2.875L256,57.588l234.837,171.943c2.368,1.735,5.12,2.57,7.848,2.57    c4.096,0,8.138-1.885,10.744-5.445C513.771,220.729,512.483,212.405,506.555,208.064z" fill="#FFFFFF"/>
                       </g>
                        </g>
                        <g>
                       <g>
                      <path d="M442.246,232.543c-7.346,0-13.303,5.956-13.303,13.303v211.749H322.521V342.009c0-36.68-29.842-66.52-66.52-66.52    s-66.52,29.842-66.52,66.52v115.587H83.058V245.847c0-7.347-5.957-13.303-13.303-13.303s-13.303,5.956-13.303,13.303v225.053    c0,7.347,5.957,13.303,13.303,13.303h133.029c6.996,0,12.721-5.405,13.251-12.267c0.032-0.311,0.052-0.651,0.052-1.036v-128.89    c0-22.009,17.905-39.914,39.914-39.914s39.914,17.906,39.914,39.914v128.89c0,0.383,0.02,0.717,0.052,1.024    c0.524,6.867,6.251,12.279,13.251,12.279h133.029c7.347,0,13.303-5.956,13.303-13.303V245.847    C455.549,238.499,449.593,232.543,442.246,232.543z" fill="#FFFFFF"/>
                       </g>
                      </svg>
                    
                    <p class="lien"> Menu principal</p>
                    
                </div>
                </a>
                <a class="lien" href="#">
                <div id="barre_gauche_centre_projet" class="barre_gauche_centre_menu_cliquable">
                    <svg   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" class="barre_gauche_svg">
<path d="M26.525,10.5l-4.618-6.451L21.515,3.5H0v53h60v-46H26.525z M58,12.5v5H31.536l-3.579-5H58z M2,54.5v-49h18.485l5,7h0.012  l4.69,6.551c0.195,0.272,0.501,0.417,0.813,0.418V19.5h27v35H2z" fill="#FFFFFF"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                
                    <p class="lien"> Projets</p>
                   
                </div>
                    </a>
                <a class="lien" href="#">
                <div id="barre_gauche_centre_utilisateurs" class="barre_gauche_centre_menu_cliquable">
                    <svg class="barre_gauche_svg" viewBox="0 0 563.43 563.43" style="enable-background:new 0 0 563.43 563.43;" xml:space="preserve">
<path d="M280.79,314.559c83.266,0,150.803-67.538,150.803-150.803S364.055,13.415,280.79,13.415S129.987,80.953,129.987,163.756  S197.524,314.559,280.79,314.559z M280.79,52.735c61.061,0,111.021,49.959,111.021,111.021S341.851,274.776,280.79,274.776  s-111.021-49.959-111.021-111.021S219.728,52.735,280.79,52.735z" fill="#FFFFFF"/>
<path d="M19.891,550.015h523.648c11.102,0,19.891-8.789,19.891-19.891c0-104.082-84.653-189.198-189.198-189.198H189.198  C85.116,340.926,0,425.579,0,530.124C0,541.226,8.789,550.015,19.891,550.015z M189.198,380.708h185.034  c75.864,0,138.313,56.436,148.028,129.524H41.17C50.884,437.607,113.334,380.708,189.198,380.708z" fill="#FFFFFF"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                     
                    <p class="lien"> Utilisateurs</p>
                 
                </div>
                </a>
                <a class="lien" href="#">
                <div id="barre_gauche_centre_messagerie" class="barre_gauche_centre_menu_cliquable" >
                    <svg  viewBox="0 0 476.2 476.2" style="enable-background:new 0 0 476.2 476.2;" xml:space="preserve" class="barre_gauche_svg" >
<g>
    <g>
        <path d="M433.812,19.9c-12.8-12.8-29.8-19.9-48-19.9s-35.1,7.1-48,19.9c-4.7,4.7-4.7,12.3,0,17c4.7,4.7,12.3,4.7,17,0    c8.3-8.3,19.3-12.8,31-12.8s22.7,4.6,31,12.8c17.1,17.1,17.1,44.9,0,62c-0.3,0.3-0.6,0.6-0.8,0.9c-0.3,0.3-0.6,0.5-0.9,0.8    l-18.2,18.2l-101.2-101.1c-4.7-4.7-12.3-4.7-17,0l-155,155c-4.7,4.7-4.7,12.3,0,17c2.3,2.3,5.4,3.5,8.5,3.5s6.1-1.2,8.5-3.5    l146.5-146.6l13.7,13.7l-235.2,235.3c-2.3,2.3-3.5,5.3-3.5,8.5s1.3,6.2,3.5,8.5l7.6,7.6l-33.5,33.4c-2.3,2.3-3.5,5.3-3.5,8.5    s1.3,6.2,3.5,8.5l14.9,14.9l-28.6,28.6c-4.7,4.7-4.7,12.3,0,17c2.3,2.3,5.4,3.5,8.5,3.5s6.1-1.2,8.5-3.5l28.6-28.6l14.9,14.9    c2.3,2.3,5.3,3.5,8.5,3.5s6.2-1.3,8.5-3.5l33.5-33.5l7.6,7.6c2.3,2.3,5.4,3.5,8.5,3.5s6.1-1.2,8.5-3.5l270.4-270.4    c0.3-0.3,0.6-0.6,0.8-0.9c0.3-0.3,0.6-0.5,0.9-0.8C460.212,89.3,460.212,46.3,433.812,19.9z M95.013,388.4l-29.8-29.8l25-25    l14.9,14.9l14.9,14.9L95.013,388.4z M153.113,362.5l-7.6-7.6l0,0l-23.4-23.4l-31-31l226.8-226.7l62,62L153.113,362.5z" fill="#FFFFFF"/>
        <path d="M420.112,452.2h-385.5c-6.6,0-12,5.4-12,12s5.4,12,12,12h385.5c6.6,0,12-5.4,12-12S426.712,452.2,420.112,452.2z" fill="#FFFFFF"/>
    </g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                  
                    <p class="lien"> Messagerie</p>
                 
                </div>
                </a>
                  <a class="lien" href="#">
                <div id="barre_gauche_centre_entreprise" class="barre_gauche_centre_menu_cliquable">
                    <svg  viewBox="0 0 511.626 511.627" style="enable-background:new 0 0 511.626 511.627;" xml:space="preserve" class="barre_gauche_svg">
<g>
    <g>
        <path d="M319.77,338.039c0,4.949-1.811,9.236-5.424,12.847c-3.617,3.621-7.902,5.428-12.851,5.428h-91.361    c-4.952,0-9.233-1.807-12.85-5.428c-3.616-3.61-5.424-7.897-5.424-12.847V292.36H0v137.044c0,12.56,4.471,23.312,13.418,32.257    c8.945,8.946,19.701,13.419,32.264,13.419h420.266c12.56,0,23.315-4.473,32.261-13.419c8.949-8.945,13.418-19.697,13.418-32.257    V292.36H319.77V338.039L319.77,338.039z" fill="#FFFFFF"/>
        <rect x="219.266" y="292.36" width="73.096" height="36.545" fill="#FFFFFF"/>
        <path d="M498.208,123.054c-8.945-8.947-19.701-13.418-32.261-13.418H365.446V63.953c0-7.614-2.663-14.084-7.994-19.414    c-5.325-5.327-11.8-7.993-19.411-7.993H173.589c-7.612,0-14.083,2.666-19.414,7.993s-7.994,11.799-7.994,19.414v45.683H45.682    c-12.562,0-23.318,4.471-32.264,13.418C4.471,132,0,142.75,0,155.313v109.636h511.626V155.313    C511.626,142.75,507.158,132,498.208,123.054z M328.904,109.636H182.725V73.089h146.179V109.636z" fill="#FFFFFF"/>
    </g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                     
                    <p class="lien"> Entreprise</p>
                </div>
                 </a>
                 <a class="lien" href="#">
                <div id="barre_gauche_centre_logs" class="barre_gauche_centre_menu_cliquable" >
                    <svg x viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" class="barre_gauche_svg">
<g>
    <path d="M41.5,2h-6V1c0-0.553-0.447-1-1-1h-9c-0.553,0-1,0.447-1,1v1h-6h-13v58h49V2H41.5z M52.5,38.586l-1,1V5h-9V4h10V38.586z    M36.086,55H10.5V7h7v2v1h1h23h1V9V7h7v34.586L36.086,55z M49.5,44.414V55H38.914L49.5,44.414z M33.5,2v1v2h-7V3V2H33.5z M24.5,4v2   v1h1h9h1V6V4h5v1v3h-21V5V4H24.5z M7.5,4h10v1h-9v52h25.586l-1,1H7.5V4z M35.914,58l1-1H51.5V42.414l1-1V58H35.914z" fill="#FFFFFF"/>
    <path d="M16.5,18h9c0.553,0,1-0.447,1-1s-0.447-1-1-1h-9c-0.553,0-1,0.447-1,1S15.947,18,16.5,18z" fill="#FFFFFF"/>
    <path d="M16.5,26h5c0.553,0,1-0.447,1-1s-0.447-1-1-1h-5c-0.553,0-1,0.447-1,1S15.947,26,16.5,26z" fill="#FFFFFF"/>
    <path d="M38.5,24h-7c-0.553,0-1,0.447-1,1s0.447,1,1,1h7c0.553,0,1-0.447,1-1S39.053,24,38.5,24z" fill="#FFFFFF"/>
    <path d="M25.79,24.29C25.6,24.479,25.5,24.729,25.5,25c0,0.27,0.109,0.52,0.29,0.71C25.979,25.89,26.229,26,26.5,26   c0.27,0,0.52-0.101,0.71-0.29c0.18-0.19,0.29-0.45,0.29-0.71c0-0.261-0.11-0.521-0.29-0.71C26.83,23.92,26.17,23.92,25.79,24.29z" fill="#FFFFFF"/>
    <path d="M44.21,24.29c-0.37-0.37-1.04-0.37-1.42,0C42.6,24.479,42.5,24.729,42.5,25c0,0.27,0.109,0.52,0.29,0.71   C42.979,25.89,43.229,26,43.5,26c0.27,0,0.52-0.11,0.71-0.29c0.18-0.19,0.29-0.45,0.29-0.71C44.5,24.739,44.39,24.479,44.21,24.29z   " fill="#FFFFFF"/>
    <path d="M28.5,32h-7c-0.553,0-1,0.447-1,1s0.447,1,1,1h7c0.553,0,1-0.447,1-1S29.053,32,28.5,32z" fill="#FFFFFF"/>
    <path d="M16.5,34c0.27,0,0.52-0.11,0.71-0.29c0.18-0.19,0.29-0.45,0.29-0.71c0-0.261-0.11-0.521-0.29-0.71   c-0.37-0.37-1.05-0.37-1.42,0c-0.181,0.189-0.29,0.439-0.29,0.71c0,0.27,0.109,0.52,0.29,0.71C15.979,33.89,16.229,34,16.5,34z" fill="#FFFFFF"/>
    <path d="M19.645,41.166c-2.19,1.14-2.927,3.321-3.196,5.582c-0.414-0.347-0.828-0.693-1.242-1.04   c-0.98-0.821-2.402,0.586-1.414,1.415c0.935,0.783,1.871,1.567,2.806,2.351c0.658,0.551,1.677,0.203,1.707-0.707   c0.073-2.166,0.175-4.742,2.348-5.873C21.796,42.299,20.786,40.572,19.645,41.166z" fill="#FFFFFF"/>
    <path d="M26.295,45.155c-1.385,0.321-2.961,2.083-3.936,0.106c-0.569-1.154-2.295-0.142-1.727,1.009   c0.517,1.049,1.5,1.784,2.669,1.932c0.594,0.075,1.131-0.009,1.688-0.226c0.409-0.159,1.937-1.308,2.267-0.717   c0.628,1.124,2.356,0.116,1.727-1.009C28.446,45.288,27.359,44.908,26.295,45.155z" fill="#FFFFFF"/>

</svg>

                     
                    <p class="lien"> Logs</p>
                </div>
            </div>
              </a>
               <a class="lien" href="#">
             <div id="barre_gauche_bas"> 
                 <svg  viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve" class="barre_gauche_svg" >
<g>
<g>
    <path d="M54.424,28.382c0.101-0.244,0.101-0.519,0-0.764c-0.051-0.123-0.125-0.234-0.217-0.327L42.208,15.293   c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L51.087,27H20.501c-0.552,0-1,0.447-1,1s0.448,1,1,1h30.586L40.794,39.293   c-0.391,0.391-0.391,1.023,0,1.414C40.989,40.902,41.245,41,41.501,41s0.512-0.098,0.707-0.293l11.999-11.999   C54.299,28.616,54.373,28.505,54.424,28.382z" fill="#FFFFFF"/>
    <path d="M36.501,33c-0.552,0-1,0.447-1,1v20h-32V2h32v20c0,0.553,0.448,1,1,1s1-0.447,1-1V1c0-0.553-0.448-1-1-1h-34   c-0.552,0-1,0.447-1,1v54c0,0.553,0.448,1,1,1h34c0.552,0,1-0.447,1-1V34C37.501,33.447,37.053,33,36.501,33z" fill="#FFFFFF"/>

</svg>
                <p id="barre_gauche_deconnecter"> Se déconnecter</p>
             </div>
             </a>
        </div>
        
        
    </body>

</html>{% endblock %}