
 /* //////////////////// LOGIN  */

*{
    font-family: 'Lato', sans-serif;
}

#body_acceuil
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     margin: 0px;

    padding: 0px;
    outline: 0px;
    height: 100%;
    
}

#boite_central
{
    display: flex;
    margin-top: 10%;
    
    
    
}

#email
{
    height: 25%;
    width: 100%;
    font-size: 100%;
    border: none;
    border: 1px solid darkgrey ;
    border-radius: 8%;
    font-family: Verdana;
    padding-left: 5%;
}

#mdp
{
    height: 25%;
    width: 100%;
    font-size: 100%;
    border: none;
    border: 1px solid darkgrey ;
    border-radius: 8%;
    font-family: Verdana;
    padding-left: 5%;
}

#boite_droite
{
    height: 20vh;
    width: 20vw;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#boite_gauche
{
   border-right: 1px solid darkgrey ;
}

#connexion
{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 10vw;
    height: 4vh;
    border: none;
    border: 1px solid darkgrey ;
    border-radius: 10%;
    background-color: cadetblue;
    font-family: Verdana;
    color: floralwhite;
}


/* ////////////////// barre gauche   */

#body_barre_gauche
{
    margin: 0px;

   padding: 0px;

   outline: 0px;

   height: 100%;
    
}

#barre_gauche
{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 11%;
    font-size: 100%;
    background-color: #666666 ;
    color: whitesmoke;
}

#barre_gauche_bienvenue
{
   font-weight: bold;
}

#barre_gauche_centre
{
 margin-top: 50%;
}

#barre_gauche_bas
{
    display: flex;
    justify-content: center;
     align-items: center;
    margin-top:161%;
    
}

#barre_gauche_bas:hover
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:161%;
    background-color: #EC4363;
    
}

.barre_gauche_svg
{
    width: 10%;
    height: 10%;
    padding-right: 10%;
}

.barre_gauche_centre_menu_cliquable
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8px;
}

.barre_gauche_centre_menu_cliquable:hover
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EC4363 ;
    opacity: 80%;
}

#barre_gauche_haut
{
    display: flex;
    justify-content: center;
}
 .lien
{
    text-decoration: none;
    color: white;
   
}

/* //////////////// header */


#body_header
{
      margin: 0px;

   padding: 0px;

   outline: 0px;

   height: 100%;
}

#header
{ 
    border-bottom: 1px solid darkgrey ;
    display: flex;
    flex-direction: row;
    height: ;
    flex-shrink: 1;
    margin-left: -17px;
}

#centre_header
{
    width: 70%
}

#gauche_header
{
    width: 40%;
    height: 100%;
}

#droite_header
{
     display: flex;
    align-self: center;
}

.nom_page
{
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    color: #EC4363 ;
    padding-left: 10px;
}

#chemin
{
    color: aqua;
    margin-left: 5%;
}

#image_header
{
    width: 120px;
    height: 70px;
    padding-right: 5px;
}

/*///////////// les pages */

#page_carre
{
    display: flex;
    flex-direction: row;
}

#page_droite
{
    margin-left: 12%;
    width: 100%;
}

/* ////////////// carre */

#ecran_accueil
{
    height: 300px;
    width: 600px;
    border-style: solid;
    border-width: 1px;
    border-color: #95989A ;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-top: 2%;
    margin-left: 30%;
    box-shadow: 5px 5px 1px #95989A ;
}



#titre_bienvenue
{
    padding-left: 5%;
    font-size: 180%;
    color: #EC4363;
}

#texte_bienvenue
{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 90%;
}



#ecran_accueil_haut
{
    border-bottom: solid;
     border-color: #95989A;
      border-width: 1px;
}

/* ////////////// alerte */

#alerte
{
    height: 350px;
    width: 600px;
    background-color: whitesmoke;
    opacity: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: #95989A;
    border-top-left-radius: 9%;
    border-bottom-right-radius: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#alerte_bas
{
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
 #alerte_haut
{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#gros_titre_alerte
{
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
    
}

#moyen_titre_alerte
{
    font-size: 20px;
    color: green;
}

#petit_titre_alerte
{
    font-size: 15px;
     color: green;
}

#ok_alerte
{
    border: none;
    background-color: white;
    color: greenyellow;
    font-size: 14px;
}

#annuler_alerte
{
     
   
    background-color: white;
    border: none;
    color: #95989A;
    font-size: 15px;
}

#alerte_enregistrer
{
    height: 25px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border-color: orangered;
    border-width: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#annuler
{
    height: 25px;
    width: 200px;
     padding: 10px;
    border-radius: 10px;
    border-color: aqua;
    border-width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.svg_alerte
{
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

#gros_titre_alerte2
{
    font-size: 30px;
    color: #EC4363;
    font-weight: bold;
    
}

#moyen_titre_alerte2
{
    font-size: 20px;
    color: #AD0A2A;
}

#petit_titre_alerte2
{
    padding: 10px;
    font-size: 15px;
     color: #AD0A2A;
}

#supprimer_alerte
{
  color:  #EC4363;
}
