
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#boite_central
{
    margin-top: 10%;
    
    
}

#email
{
    height: 25%;
	width: 100%;
	font-size: 100%;
	border: none;
	border: 1px solid darkgrey ;
    border-radius: 8%;
	font-family: Verdana;
    
}

#mdp
{
    height: 25%;
	width: 100%;
	font-size: 100%;
	border: none;
	border: 1px solid darkgrey ;
    border-radius: 8%;
	font-family: Verdana;
}

#boite_droite
{
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#connexion
{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 10vw;
    height: 4vh;
    border: none;
	border: 1px solid darkgrey ;
    border-radius: 10%;
    background-color: cadetblue;
    font-family: Verdana;
    color: floralwhite;
}