<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<style>
    * {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

#conteneur_login {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left_login,
#center_login,
#right_login {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#left_login img {
    width: 300px;
}

#left_login {
    align-items: flex-end;
    margin: 0px 10px;
}

#left_login p {
    align-items: flex-end;
    color: #95989A;
    font-size: 22px;
    font-weight: 400;
    margin: 0px 20px 0px 0px;
}

#center_login {
    width: 2px;
    height: 220px;
    background-color: #BEBEBE;
}

#right_login {
    margin-top: 40px;
    align-items: flex-end;
}

#username,
#password {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: solid 2px #BEBEBE;
    padding: 5px 15px 5px 15px;
    margin: 5px;
}

#_submit {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #00AE9C;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
}

/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background-color: #008B7D;
    color: white;
    cursor: pointer;
}
</style>
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
{% block fos_user_content %}{% endblock %} <!-- Contenu présent dans security/login_content.html.twig -->
{% block javascripts %}{% endblock %}
</body>
</html>